env:
  type: libero
  task: libero_10
  task_ids: [8]
  ood:
    enable: true  

eval:
  batch_size: 3
  n_episodes: 3

seed: 72

# python src/lerobot/scripts/eval.py --config=configs/smolvla/eval/libero.yaml --policy.path=outputs/train/smolvla/libero_finetuned_01/checkpoints/010000/pretrained_model