# Choose from "action_seq", "noise_to_action", "flows" and "vector_field"
vis_types: [flows]
show: False
seed: 40

env:
  type: libero
  task: libero_10
  task_ids: [0, 4, 7, 8, 9]

policy:
  type: flow_matching
  device: cuda

vis:
  num_rollouts: 1
  action_dim_names: [
    "ee_pos_x", "ee_pos_y", "ee_pos_z", "ee_rot_x",
    "ee_rot_y", "ee_rot_z", "gripper_open"
  ]

noise_to_action:
  action_dims: [0, 1]
  axis_limits: [[-1, 1], [-1, 1]]
  num_samples: 1

flows:
  action_dims: [0, 1]
  axis_limits: [[-1, 1], [-1, 1]]
  num_paths: 15

vector_field:
  action_dims: [0, 1, 2]
  grid_size: 20


# python src/lerobot/scripts/visualize_flow_matching.py --config=configs/flow_matching/visualize/libero.yaml --policy.path=outputs/train/flow_matching_libero_spatial/checkpoints/050000/pretrained_model