env:
  type: libero
  task: libero_10
  task_ids: [8]
  ood:
    enable: true  

eval:
  batch_size: 3
  n_episodes: 20

seed: 3747

# python src/lerobot/scripts/lerobot_eval.py --config=configs/flow_matching/eval/libero.yaml --policy.path=outputs/train/flow_matching/libero_02/checkpoints/040000/pretrained_model