dataset:
  repo_id: HuggingFaceVLA/libero
  libero_tasks: {
      libero_spatial: [],
      libero_object: [],
      libero_goal: [],
      libero_10: [0, 4, 7, 8, 9]
    }

policy:
  type: flow_matching
  device: cuda
  repo_id: bensturgis/flow-matching-libero-vp
  cond_vf_type: vp
  ode_step_size: 0.01
  n_obs_steps: 1
  horizon: 48
  n_action_steps: 24
  crop_shape: null
  crop_is_random: false
  use_separate_rgb_encoder_per_camera: true
  push_to_hub: false

env:
  type: libero
  task: libero_10
  task_ids: [0, 4, 7, 8, 9]

eval:
  batch_size: 1
  n_episodes: 10

output_dir: outputs/train/flow_matching/libero_vp
batch_size: 64
steps: 200000
eval_freq: 5000
save_freq: 5000
enable_val_loss: False
seed: 1717
wandb:
  enable: true
job_name: flow_matching_libero_vp

# python src/lerobot/scripts/lerobot_train.py --config=configs/flow_matching/train/libero.yaml