dataset:
  repo_id: HuggingFaceVLA/libero
  libero_tasks: {
    libero_spatial: [],
    libero_object: [],
    libero_goal: [],
    libero_10: [0, 4, 7, 8, 9]
  }

policy:
  type: flow_matching
  device: cuda

laplace:
  scopes: [velocity_last, rgb_last]
  calib_fraction: 1.0

seed: 1111

# python src/lerobot/scripts/uncertainty/fit_laplace_posterior.py --config=configs/flow_matching/laplace_fitting/libero.yaml --policy.path=outputs/train/flow_matching/libero_02/checkpoints/050000/pretrained_model