env:
  type: libero
  task: libero_10
  task_ids: [2]

policy:
  type: smolvla
  device: cuda

vis:
  num_rollouts: 1
  action_dim_names: [
    "ee_pos_x", "ee_pos_y", "ee_pos_z", "ee_rot_x",
    "ee_rot_y", "ee_rot_z", "gripper_open"
  ]

vector_field:
  action_dims: [4, 5]
  # action_steps: [5, 10, 15, 20, 25, 30, 35, 40, 45, 49]
  grid_size: 20
  min_action: -1.2
  max_action: 1.2

flows:
  num_paths: 5
  action_dims: [1, 2]
  axis_limits: [[-1, 1], [-1, 1]]

cross_bayesian_sampler:
  scorer_type: ensemble
  ensemble_model_paths: [
    outputs/train/smolvla/libero_finetuned_02/checkpoints/015000/pretrained_model
  ]
  laplace_config:
    scopes: [action_out_proj]
    calib_fraction: 1.0
    num_samples: 1
  num_action_samples: 5
  scoring_metric:
    metric_type: inter_vel_diff
    velocity_eval_times: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]

show: False
seed: 58

# python src/lerobot/scripts/uncertainty/visualize_bayesian_sampler.py --config=configs/smolvla/visualize_bayesian_sampler/libero.yaml --policy.path=outputs/train/smolvla/libero_finetuned_01/checkpoints/last/pretrained_model